<div class="about" id="apropos">
    <div class="row">
        <div class="col-md-5">
            <img src="assets/images/myPhoto.png" alt="myPhoto" width="300px" height="300px" style="margin-left: 120px; margin-top: 200px; border-radius: 130px; text-align: center;"/>
         <div class="my_name">FATIMA ASEBBANE</div>
         <div class="metier">Full stack developpeur</div>
        </div>
        <div class="col-md-7">
            <br/>
            <br/>
            <br/>

            <div class="salut">👋 Salut !</div>
                <p class="para">

                Je suis Fatima Asebbane, une étudiante de 21 ans en deuxième année de cycle d'ingénieur à la Faculté des Sciences et Techniques de Marrakech.
                Ma formation solide m'a permis d'acquérir une large gamme de compétences dans le domaine du développement web.
                </p>
                <p>
                Je suis passionnée par le développement web full stack, en particulier avec Angular, React, Laravel et Spring Boot.
                J'adore explorer ce domaine fascinant et j'ai réalisé de nombreux projets de développement web au cours de mon parcours.
                          </p>
              <br/>
              <br/>
              <br/>
              <br/>
        </div>
    </div>



</div>
<!-- <div class="services">
    <div class="row">
        <div class="col-md-9">
            <div class="titre_service">SERVICES</div>
            <p>Tout au long de ma carrière, j'ai eu l'opportunité de créer des sites Web diversifiés,
                acquérant de l'expérience sur une gamme de frameworks majeurs tels que Vue/Nuxt, React et Svelte.
                 Je peux gérer des projets de manière indépendante ou m'intégrer de manière transparente aux équipes de développeurs existantes.
            </p>
            <p class="direction" >DIRECTION TECHNIQUE :</p>
            <p>
                Grâce à mon expertise en développement Web, je guide les clients dans la sélection des bons frameworks, langages et outils. Je collabore étroitement pour développer des stratégies techniques évolutives et évolutives pour des expériences utilisateur exceptionnelles.
            </p>
            <p class="conseil">CONSEIL TECHNIQUE :</p>
            <p>

                En tant que consultant technique, j'aide les clients à prendre des décisions éclairées et à optimiser
                 leurs stratégies technologiques.
                En comprenant leurs défis et objectifs uniques, je propose des recommandations personnalisées.
            </p>
             <br>
             <br>
             <br>

            </div>
            <div class="col-md-2"></div>


    </div>
</div> -->
