.titre_certificats{
    text-align: center;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 40px;
    letter-spacing: 5px;
}
.item{
    padding-left: 15px;
}
.item-text{
  text-align: center;
  font-size: 27px;
  font-weight: 1000;
  letter-spacing: 2px;
  font-family: Montserrat;
  color: black;
  text-shadow: 1px 1px #E8C872;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.certificats{
  padding: 100px;
}
