<section class="certificats" id="certificats">
    <p class="titre_certificats">CERTIFICATS</p>

    <div class="row">
      <div class="col-md-4">
          <div class="item">
              <img src="assets/images/docker_png.png"  width="90%" height="300px" />
          </div>
          <div class="item-text">Docker Essensials</div>
      </div>
      <div class="col-md-4">
          <div class="item">
              <img src="assets/images/git_png.png"  width="90%" height="300px" />
          </div>
          <div class="item-text">Git and Github</div>
      </div>
      <div class="col-md-4">
          <div class="item">
              <img src="assets/images/php.jpeg"  width="90%" height="300px" />
          </div>
          <div class="item-text">PHP</div>
      </div>
  </div>
  <div class="row">
    <div class="col-md-4">
        <div class="item">
            <img src="assets/images/react_basic_png.png"  width="90%" height="300px" />
        </div>
        <div class="item-text">React basic</div>
    </div>
    <div class="col-md-4">
        <div class="item">
            <img src="assets/images/react_png.png"  width="90%" height="300px" />
        </div>
        <div class="item-text">advanced React</div>
    </div>
    <div class="col-md-4">
      <div class="item">
          <img src="assets/images/js_certificat.png"  width="90%" height="300px" />
      </div>
      <div class="item-text">java Script programming</div>
  </div>
</div>
</section>
