<section class="projets" id="projets">
  <div class="title_projects">
   Projets
  </div>
  <div class="our_projets"></div>

  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-title">gestion de restaurant</div>
        <div class="card-body">
         <p class="description_projet"> Un application web pour la gestion  d'un restaurant,
           couvrant les aspects de commande, de livraison et de gestion des clients. Pour ce faire, j'ai utilisé Laravel en backend ,
            tandis que le front end sera réalisé en HTML, CSS et bootstrap. En ce qui concerne
          la manipulation des données, j'ai utiliser SQL.</p>
          <a href="https://github.com/fatimaasebbane/projet_laravel" class="btn butn">Git</a>
          <a href="https://github.com/fatimaasebbane/projet_laravel" class="btn butn">Live Demo</a>

        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-title">Exportation des ovins</div>
        <div class="card-body">
          <p class="description_projet">
            une plateforme de gestion pour une entreprise espagnole qui exporte des ovins vers les pays arabes.
             Le côté client du site sera développé avec React JS,
              tandis que le back-end sera basé sur le framework Laravel pour gérer les opérations métier.Les API REST seront utilisées pour interagir avec la base de données SQL.
          </p>

          <a href=" https://github.com/fatimaasebbane/bovicorExport" class="btn butn">Git</a>
          <a href=" https://github.com/fatimaasebbane/bovicorExport" class="btn butn">Live Demo</a>

        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-title">E-commerce</div>
        <div class="card-body">
          <p class="description_projet">
            une application d'e-commerce pour vente des produits electroniques
             Le côté client du application sera développé avec Reactjs ,
              tandis que le back-end sera basé sur le framework Spring boot pour gérer les opérations métier.
              Les API REST seront utilisées pour interagir avec la base de données Mongo db.
          </p>
          <a href=" https://github.com/fatimaasebbane/Site_web_Produits" class="btn butn">Git</a>
          <a href=" https://github.com/fatimaasebbane/Site_web_Produits" class="btn butn">Live Demo</a>

        </div>
      </div>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-title"> Conférence ISSAI’24 </div>
        <div class="card-body">
         <p class="description_projet"> Un plateforme de l'edition 24 du conférence d'intelligence artificille ISSAI ,
          développé avec React JS en front end et Spring boot en back-end, En ce qui concerne
          la manipulation des données, j'ai utiliser MySQL.</p>
          <a href="https://github.com/fatimaasebbane/agile" class="btn butn">Git</a>
          <a href="https://github.com/fatimaasebbane/agile" class="btn butn">Live Demo</a>

        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-title">gestion du produits</div>
        <div class="card-body">
          <p class="description_projet">
            une application web de gestion des produits cosmitiques,
             Le côté client du site sera développé avec Angular,
              tandis que le back-end sera basé sur le framework Spring Boot pour gérer les opérations métier.
              Les API REST seront utilisées pour interagir avec la base de données SQL.
          </p>
          <button class="btn  butn">Git</button>
         <button class="btn  butn">Live Demo</button>
        </div>
      </div>
    </div>

  </div>

</section>
