<section class="competences" id="competences">
    <div class="titre_competences">
        <p>Competences</p>
        <p class="text">

        </p>
    </div>
    <div class="skills">
     <div class="row">
       <div class="col-md-6">
        <div class="card-title">
          Front-End
      </div>
        <div class="card">
           <div class="row " style="text-align: left;">
            <div class="col-md-4"> <i class="bi bi-check"></i>HTML</div>
            <div class="col-md-4"><i class="bi bi-check"></i>CSS</div>
            <div class="col-md-4"><i class="bi bi-check"></i>Bootstrap</div>
           </div>
           <div class="row"  style="text-align: left;">
            <div class="col-md-4"><i class="bi bi-check"></i>React js</div>
            <div class="col-md-4"><i class="bi bi-check"></i>Angular</div>
            <div class="col-md-4"><i class="bi bi-check"></i>javaScript</div>
           </div>
           <div class="row"  style="text-align: left;">
            <div class="col-md-4"><i class="bi bi-check"></i>Type script</div>
           </div>
        </div>
       </div>
       <div class="col-md-6">
        <div class="card-title">
          Back-End
      </div>
        <div class="card">

            <div class="row " style="text-align: left;">
             <div class="col-md-4"><i class="bi bi-check"></i>PHP</div>
             <div class="col-md-4"><i class="bi bi-check"></i>JAVA</div>
             <div class="col-md-4"><i class="bi bi-check"></i>SPRING BOOT</div>
            </div>
            <div class="row"  style="text-align: left;">
             <div class="col-md-4"><i class="bi bi-check"></i>LARAVEL</div>
             <div class="col-md-4"><i class="bi bi-check"></i>C# </div>
             <div class="col-md-4"><i class="bi bi-check"></i>python</div>
            </div>
            <div class="row"  style="text-align: left;">
              <div class="col-md-4"><i class="bi bi-check"></i>flask</div>
              <div class="col-md-4"></div>
              <div class="col-md-4"></div>
             </div>
        </div>
       </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-md-6">
        <div class="card-title">
          Manépulation base de données
      </div>
      <div class="card">

        <div class="row " style="text-align: left;">
         <div class="col-md-4"><i class="bi bi-check"></i>SQL </div>
         <div class="col-md-4"><i class="bi bi-check"></i>MY SQL</div>
         <div class="col-md-4"><i class="bi bi-check"></i>PLSQL </div>

        </div>
        <div class="row " style="text-align: left;">
          <div class="col-md-4"><i class="bi bi-check"></i>MONGO DB </div>

         </div>
         </div>
       </div>
      <div class="col-md-6">
        <div class="card-title">
          Management du projet
      </div>
       <div class="card">
        <div class="row " style="text-align: left;">
          <div class="col-md-4"><i class="bi bi-check"></i>GIT AND GITHUB </div>
          <div class="col-md-4"><i class="bi bi-check"></i>GIT ACTION</div>
          <div class="col-md-4"><i class="bi bi-check"></i>DOCKER </div>

        </div>
        <div class="row " style="text-align: left;">
          <div class="col-md-4"><i class="bi bi-check"></i>DOCKER SWARM </div>
          <div class="col-md-4"><i class="bi bi-check"></i>JIRA</div>
          <div class="col-md-4"><i class="bi bi-check"></i>TRELLO </div>
        </div>
         </div>
       </div>
       </div>
 </div>



</section>
