<html>
    <body>
        <div class="accueil" id="accueil">
            <div class="row">
                <div class="col-md-5 partie1">
                  <img src="assets/images/photo.png" alt="myPhoto" width="300px" height="300px" style="margin-left: 300px; margin-top:18%; text-align: center;"/>

                </div>
                <div class="col-md-7 partie2">
                 </div>
            </div>
            <div class="card">
              <div class="card-titre">FATIMA ASEBBANE</div>
              <div class="card-titre"></div>
                <div class="card-body">
                  <p>La créativité est le moteur qui anime chaque projet que je touche.
                     Avec une passion inébranlable pour l'innovation et une vision artistique unique,
                      je m'efforce de repousser les limites de l'imagination à chaque étape.
                        Explorez mon portfolio pour
                     découvrir comment mes idées créatives peuvent transformer votre vision en réalité captivante.</p>
                </div>
                <div class="signature">
                  <img src="assets/images/fatima_signature.png" alt="fatima_signature" width="100px" height="50px"/>
                </div>
                <div>
                  <a href="assets/CV.pdf" download>
                  <button class="btn">
                    Télécharger CV
                  </button>
                  </a>
                </div>
              </div>
           </div>
    </body>
</html>
